body, html {
    text-align: center;
    background-color: #EBEBEB;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* AFFICHAGE LABYRINTHE */
h1 {
    margin-top: 100px;
}

#panneauConfig {
    border: solid;
}

#panneauConfig {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    margin-left: 40%;
    margin-right: 40%;
}

input {
    width: 40px;
}